.club {
	color: #005416;
}
.diamond {
	color: #ff6600;
}
.heart {
	color: red;
}
.spade {
	color: blue;
}
.board_id {
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}
table {
	border-collapse: collapse;
}
td {
	border-style: solid;
}
